<!-- Section: Design Block -->
<section class="text-center" style="padding-top: 20px;">
    <div class="card mx-4 mx-md-5 shadow-5-strong">
      <div class="card-body py-5 px-md-5">

        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Thêm game mới</h2>
            <form>
              <!-- tên game input -->
              <div class="form-outline mb-4 ">
                <input type="text" id="name-game" class="form-control" />
                <label class="form-label" for="name-game">Tên game</label>
              </div>

              <!-- Nhà sản xuất input -->
              <div class="form-outline mb-4">
                <input type="text" id="name-nsx" class="form-control" />
                <label class="form-label" for="name-nsx">Tên nhà sản xuất</label>
              </div>

              
  
              <!-- số hiệu phiên bản input -->
              <div class="form-outline mb-4">
                <input type="text" id="sh-phienban" class="form-control" />
                <label class="form-label" for="sh-phienban">Số hiệu phiên bản</label>
              </div>

              <!-- phiên bản input -->
              <div class="form-outline mb-4">
                <input type="text" id="phienban" class="form-control" />
                <label class="form-label" for="phienban">Phiên bản</label>
              </div>

              <div class="form-outline mb-4">
                <input type="text" id="yc-cauhinh" class="form-control" />
                <label class="form-label" for="yc-cauhinh">Yêu cầu cấu hình</label>
              </div>

              <div class="form-outline mb-4">
                <input type="number" id="gh-tuoi" class="form-control" />
                <label class="form-label" for="gh-tuoi">Giới hạn tuổi</label>
              </div>

              <div class="form-outline mb-4">
                <input type="number" step="any" id="gia" class="form-control" />
                <label class="form-label" for="gia">Giá</label>
              </div>

              <div class="form-outline mb-4">
                <textarea class="form-control" rows="5" id="mota"></textarea>
                <label class="form-label" for="mota">Mô tả chi tiết</label>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label pull-left" for="customFile">Chọn ảnh minh họa</label>
                <input type="file" class="form-control" id="customFile" data-show-upload="false" data-show-caption="true" multiple/>
              </div>
              


              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Tạo mới
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->